<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
		body {
			color: blanchedalmond;
			background-color: steelblue;
		}
	</style>
</head>
<body>

	<h1>See All The Pokemon!</h1>

	<ul class=pokemon>

		<% for(let i =0; i < pokemon.length; i++) {%>

		<li>

			<a href="/pokemon/<%= i %>"> <%=pokemon[i].name%></a>
		</li>

		<% } %>
	</ul>





</body>
</html>